#header {
    background-color: #1F2937;
}
#logo-links {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 10px 7%;
}
.logo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.link {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 20px 8% 0px 50%;
}
.place-holder {
    display: flex;
    height: 300px;
    width: 700px;
    margin-bottom: 70px;
}
.header-content {
    display: flex;
    flex: 1 1 auto;
    margin: 100px 50px 0px 7%;
}
#heading {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.text {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    padding-right: 100px;
}
a {
    color: #e5e7eb;
    text-decoration: none;
}
.button {
    display: flex;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 15%;
    font-size: 14px;
}
.info-title {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
    margin-top: 100px;
    margin-bottom: 50;
}
.illustration {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    margin-top: 50px;
    margin-bottom: 100px;
}
.img-1 {
   height: 150px;
   width: 150px;
}
.illustration-1 {
    text-align: center;
    width: 50%;
    margin: 0px 5% auto 7%;
}
.quote {
    background-color: #e5e7eb;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.quote-text {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    padding-top: 150px;
}
.quote-name {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    padding-right: 25%;
}
.blue-background {
    background-color: #3882f6;
    border-radius: 10px;
    color: #e5e7eb;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 100px;
}
.button-2 {
    background-color: #3882f6;
    color: #f9faf8;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    margin-top: -20px;
}
.bold-text {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -25px;
}
.blue-background-text {
    padding-left: 15%;
}
footer{
    background-color: #1F2937;
    text-align: center;
    color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;

}