#header {
    background-color: #1F2937;
    display: inline-block;
}
#logo-links {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 10px 7%;
}
.logo {
    border-radius: 50%;
    height: 150px;
    width: 100px;
}

.link {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    margin: 20px 8% 0px 50%;
}
.place-holder {
    height: 300px;
    width: 700px;
    margin-right: 40px;
    margin-bottom: 70px;
}
.header-content {
    display: flex;
    flex: 1 1 auto;
    margin: 100px 50px 0px 7%;
}
#heading {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
.text {
    display: inline-block;
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    padding-right: 100px;
}
a {
    color: #e5e7eb;
    text-decoration: none;
}
.button {
    display: flex;
    margin-left: 7%;
    margin-top: -150px;
    margin-bottom: 150px;
    background-color: #3882f6;
    color:#e5e7eb;
    border-radius: 15%;
    font-size: 14px;
}
.info-title {
    text-align: center;
    font-weight: bolder;
    font-size: 36px;
    color: #1f2937;
}
.illustration {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: nowrap;
}
.img-1 {
   height: 150px;
   width: 150px;
}
.illustration-1 {
    text-align: center;
    width: 50%;
    margin: 0px 5% auto 7%;
}